{% extends 'base.html' %}

{% block title %}{{survey.title}}{% endblock %}

{% block content %}

<h2>{{survey.title}}</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<section class="messages">
{% for category,msg in messages %}
<p>{{msg}}</p>
{% endfor %}
</section>
{% endif %}
{% endwith %}


<form action="/answer" method="POST">
    <label for="question{{q_num}}">{{survey.questions[q_num].question}}</label>
    <br>
    {% for choice in survey.questions[q_num].choices %}
    <input type="radio" name="answer" value="{{choice}}">
    <label for="{{choice}}">{{choice}}</label>
    {% endfor %}
    <br>
    <button id="next-btn">Next</button>
</form>
{% endblock %}